# Banco de dados MySQL
DATABASE_URL="mysql://root:1234@localhost:3306/dealhunter"

# Google Gemini AI
DATABASE_URL="mysql://root:1234@localhost:3306/dealhunter"

# Porta do servidor
PORT=3001

# URL do frontend (para CORS)
FRONTEND_URL=""https://deal-hunter-front.vercel.app/"