DATABASE_URL=mysql://root:SgTawWzNpbzHhXGGQNJwkMDNPhFCGUzA@mysql.railway.internal:3306/railway

GEMINI_API_KEY=AIzaSyBf0WzDwecr7nSUapYcnK7w9QE0QUhBcjw

PORT=8080

FRONTEND_URL=https://deal-hunter-front.vercel.app

CRON_INTERVAL=0 */6 * * *