DATABASE_URL=mysql://root:SgTawWzNpbzHhXGGQNJwkMDNPhFCGUzA@mysql.railway.internal:3306/railway

GEMINI_API_KEY=AIzaSyC4ncQ89MffxnmSqtWhzD5PcsPbfuxZ1vM

PORT=8080

FRONTEND_URL=https://deal-hunter-front.vercel.app

CRON_INTERVAL=0 */6 * * *